h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

p {
    color: rgba(5, 4, 4, 0.742) ;
    font-size: 16px;
    line-height: 1.5;
}
body {
    background-color: white ;
    font-family: Arial, sans-serif;
    margin: 20px;
}
.qoute-box {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: beige;
    margin: 20px 0;
}


